*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar, .board{
    width: 100%;
    max-width: 600px;
}

.top-bar ul{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
    width: 400px;
    justify-content: space-between;
}

.top-bar ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: black;
}

.top-bar img{
    height: 20px;
    width: auto;
}

.board-container{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(6, 2fr);
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 20px;
}

.square{
    border: 2px solid rgb(211, 214, 218);
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.greenSquare{
    background-color: rgb(106, 170, 100);
}

.graySquare{
    background-color: rgb(120, 124, 126);
}

.keyboard{
    margin: 25px;
}

.key{
    font-size: 15px;
    border: none;
    background-color: rgb(209, 209, 209);
    height: 45px;
    width: 40px;
    font-weight: bold;
    border-radius: 4px;
    margin: 3px;
    cursor: pointer;
}

.greenKey{
    background-color: rgb(106, 170, 100);
}

.grayKey{
    background-color: rgb(120, 124, 126);
}


.special-key{
    font-size: 10px;
    border: none;
    background-color: rgb(209, 209, 209);
    height: 45px;
    width: 55px;
    font-weight: bold;
    border-radius: 4px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.row{
    display: flex;
    justify-content: center;
}

