*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    background-color: blue;
}

.top-bar{
    background-color: rgb(243,243,243);
    width: 600px;
    border-radius: 12px;    
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 50px;
}

.top-bar ul{
    font-weight: 550;
    font-size: 25px;
}

.top-bar img{
    height: 20px;
    width: auto;
}

.board{
    
}